{% extends "base.html.jinja" %}
{% block content %}
    <p>{{product_id}}</p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}